:root {
  --background-main: #fff2e4;
  --background-light: #fff2e4;
  --background-mid: #ffb15f;
  --background-dark: #faae60;

  --color-icon: #556577;

  --product-line: #cecece;

  --background-about-us: rgba(251, 255, 242, 0.1);

  --text-header: #556577;
  --text-paragraph: #3a5d85;

  --box-shadow-container: 0 0 8px 2px rgba(0, 0, 0, 0.25);
  --box-shadow-product: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
