.products {
  grid-row: 3/4;
  grid-column: 1/13;
  background-image: linear-gradient(#fff2e4, #fff);
  // background-color: #fff;
  transform: translateY(-14.5rem);
  margin: 0;
  padding: 0;

  &-h2 {
    margin: 23.5rem 0 7rem;
  }

  &-btn {
    margin: 6rem auto 0;
    z-index: 99999;
  }
}

.product_container {
  width: 83.3%;
  margin: 0 auto;
  text-align: center;
}

@include respond(800) {
  .products {
    grid-row: 3/4;
    grid-column: 1/5;
    padding: 20px 10px 10px;

    img {
      width: 70%;
    }
  }

  .product_container {
    width: 95%;
  }
}

@include respond(500) {
  .products {
    grid-row: 3/4;
    grid-column: 1/5;
    padding: 20px 10px 10px;

    img {
      width: 70%;
    }
  }

  .product_container {
    width: 95%;
  }
}
