@keyframes loader {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}

@keyframes dots {
  to {
    width: 7.5rem;
  }
}

@keyframes rotatesX {
  to {
    transform: rotateX(360deg);
  }
}

@keyframes rotatesY {
  to {
    transform: rotateY(360deg);
  }
}
