@keyframes loader {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}

@keyframes dots {
  to {
    width: 7.5rem;
  }
}

@keyframes rotatesX {
  to {
    transform: rotateX(360deg);
  }
}

@keyframes rotatesY {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes scaleInfinite {
  0% {
    transform: scale(1);
  }
  49% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
